:root {
  --partner-color-primary: #FF5733;
  --partner-color-secondary: #dddddd;
  --partner-color-text: #333333;
  --partner-background: #FFFFFF;
  --partner-font-family-body: Arial, sans-serif;
  --partner-border-radius-button: 8px;
  --partner-logo: url(https://picsum.photos/300/50);
}

